import sys
import os

# Pick a path to store the problems in
VON_BASE_PATH  = os.path.join(os.environ.get("HOME", ""), "Documents/VON/")

# Pick a place to store von metadata (index and cache)
VON_INDEX_NAME = "index"
VON_INDEX_PATH = os.path.join(VON_BASE_PATH, VON_INDEX_NAME)
VON_CACHE_NAME = "cache"
VON_CACHE_PATH = os.path.join(VON_BASE_PATH, VON_CACHE_NAME)

# Choose an editor
EDITOR = os.environ.get('EDITOR','vim')
# On Windows, the following line may work better:
# EDITOR = r'C:\Windows\vim.bat'

# Directories for backups and temporary files.
# You MUST reconfigure these on non-Linux systems
# as the /tmp directory doesn't exist on Win/OSX afaik.
BACKUP_DIR = r"~/.vim/tmp/" # a directory for storing backups
VON_PREVIEW_PATH    = r"/tmp/preview/von_preview.tex" # path to put preview in
VON_POST_OUTPUT_DIR = r"/tmp/po" # path to put compiled outputs in

# In von, problem statement is separated from metadata
# and solution using three dashes surrounded on its own line.
# You can change that here.
SEPERATOR = '\n---\n'
NSEPERATOR = '\n' + SEPERATOR + '\n'

# Change to False below if
# your terminal sucks and doesn't have color sequences
# (e.g. you are using Windows)
USE_COLOR = True

# The following text is placed as you do editing
# in order to help you remember which tags you have.
TAG_HINT_TEXT = """# Any text you want to display on the YAML editor.
# For example, a list of tags to use."""

# These particular tags are used for sorting
# and are highlighted differently.
# Specify them however you want.
# Should be in increasing order.
SORT_TAGS = ['trivial', 'easy', 'medium', 'tricky', 'hard', 'brutal']

# You don't need to specify the other tags you plan to use
# anywhere else in this configuration file,
# which is why TAG_HINT_TEXT can be helpful for memory.

# The following lines should autodetect your operating system,
# so you only need to change them if you have issues.
import sys
if sys.platform.startswith("win32"):
	USER_OS = "windows"
elif sys.platform.startswith("darwin"):
	USER_OS = "mac"
else:
	USER_OS = "linux" # including cygwin

# vim: ft=python
