import getpass
import os
import sys
import tempfile
from typing import Literal

# Pick a path to store the problems in
# On Windows, the HOME variable doesn't exist
# and you should use HOMEPATH instead
VON_BASE_PATH = os.path.join(os.environ.get("HOME", ""), "Documents/VON/")

# Pick a place to store von metadata (index and cache)
VON_INDEX_NAME = "index"
VON_INDEX_PATH = os.path.join(VON_BASE_PATH, VON_INDEX_NAME)
VON_CACHE_NAME = "cache"
VON_CACHE_PATH = os.path.join(VON_BASE_PATH, VON_CACHE_NAME)

# Choose an editor
# On Windows, the following line may work better:
# EDITOR = r'C:\Windows\vim.bat'
EDITOR = os.environ.get('EDITOR', 'vim')

# Directories for backups and temporary files.
# You may want to reconfigure these on non-Linux systems
# as the tmp directory may not work properly otherwise
# (or if you prefer to put these in a more visible folder).

# path to put previewer TeX file
VON_PREVIEW_PATH = os.path.join(
	tempfile.gettempdir(),
	"preview_" + getpass.getuser(),
	"von_preview.tex",
)
# path to put posted output files
VON_POST_OUTPUT_DIR = os.path.join(
	tempfile.gettempdir(),
	"po_" + getpass.getuser(),
)

# Choose the default author for generated TeX files.
VON_DEFAULT_AUTHOR = "Evan Chen"

# In von, problem statement is separated from metadata
# and solution using three dashes surrounded on its own line.
# You can change that here.
SEPARATOR = '\n---\n'
NSEPARATOR = '\n' + SEPARATOR + '\n'

# Change to False below if
# your terminal sucks and doesn't have color sequences
# (e.g. you are using Windows)
USE_COLOR = True

# The following text is placed as you do editing
# in order to help you remember which tags you have.
TAG_HINT_TEXT = """# Any text you want to display on the YAML editor.
# For example, a list of tags to use."""

# These particular tags are used for sorting
# and are highlighted differently.
# Specify them however you want.
# Should be in increasing order.
SORT_TAGS = ['trivial', 'easy', 'medium', 'tricky', 'hard', 'brutal']

# You don't need to specify the other tags you plan to use
# anywhere else in this configuration file,
# which is why TAG_HINT_TEXT can be helpful for memory.

# If you run OTIS, fill this in
OTIS_EVIL_JSON_PATH = None

# The following lines should autodetect your operating system,
# so you only need to change them if you have issues.

USER_OS: Literal['windows'] | Literal['mac'] | Literal['linux']

if sys.platform.startswith("win32"):
	USER_OS = "windows"
elif sys.platform.startswith("darwin"):
	USER_OS = "mac"
else:
	USER_OS = "linux"  # including cygwin

# vim: ft=python
